**Write a program to input basic salary and find output of gross salary using
following:
DA = 75% of basic
HRA = 20% of basic
Conditions:
Basic < 10000 : gross = da + basic
Basic >= 10000 and < 20000 : gross = da + basic + 50% of hra
Basic >= 20000 : gross = basic + da + hra**

In [ ]:
basic = int(input('Basic salary is:'))
da = 75/100*basic
hra = 20/100*basic
if basic<10000:
    gross = basic+da
    print('Gross salary is:',gross)
elif basic>= 10000 and basic<20000:
    gross= basic+da+50/100*hra
    print('Gross salary is:',gross)
else:
    gross = basic+da+hra
    print('Gross salary is:',gross)

Basic salary is:45000
Gross salary is: 87750.0

**Write a program to read a number from user and find the factorial of the number.**

In [9]:
n= int(input('Number:'))
num = 1
mul = 1
while num <= n:
    mul = num*mul
    num = num+1
print('Factorial is:',mul)

Number:13
Factorial is: 6227020800

**Write a program to read num1 and num2 from keyboard and find addition of all
number between that range.**

In [ ]:
num1= int(input('num1:'))
num2= int(input('num2:'))

sumtotal = 0

for n in range(num1+1,num2):
    sumtotal = sumtotal+n
print('Sum of the range is:',sumtotal)

num1:5
num2:55
Sum of the range is: 1470

In [1]:
sumtotal= lambda num1, num2: sum(range (num1+1, num2))
num1 = int (input ('Enter num1:'))
num2 = int (input ('Enter num2:'))

sumtotal = sumtotal (num1, num2)
print ('Sum of the range is:', sumtotal)

Enter num1:5
Enter num2:55
Sum of the range is: 1470

**This is a list of some languages.
languages = ['marathi','bangla','urdu','bangla','odia','urdu', 'kannada','bangla','tamil', 'kannada','marathi']
Write a program to make a new list that is almost identical to the languages list but the new contains the same language names, in the same order, except that it does NOT contain the language 'urdu'.**

In [ ]:
langs = ['marathi','bangla','urdu','bangla','odia','urdu', 'kannada', 'bangla','tamil', 'kannada','marathi']
newlangs = []
for l in langs:
    if l != 'urdu':
        newlangs.append(l)
print(newlangs)

['marathi', 'bangla', 'bangla', 'odia', 'kannada', 'bangla', 'tamil', 'kannada', 'marathi']

**See the tuple given: num = (56,2,35,41,43,48,32,56,71,55,68)
Write a program to create two lists from it where first list contains only even numbers and second will contain only odd numbers.**

In [6]:
num =  (56,2,35,41,43,48,32,56,71,55,68)
even = [x for x in num if x % 2 == 0]
odd = [x for x in num if x % 2 != 0]

print('List of even numbers:', even)
print('List of odd numbers:', odd)

List of even numbers: [56, 2, 48, 32, 56, 68]
List of odd numbers: [35, 41, 43, 71, 55]

In [4]:
num =  (56,2,35,41,43,48,32,56,71,55,68)
even = []
odd = []
for n in num:
    if n%2 == 0:
        even.append(n)
    else:
        odd.append(n)
print('even:',even)
print('odd:',odd)

even: [56, 2, 48, 32, 56, 68]
odd: [35, 41, 43, 71, 55]

**Write a program to read a number from user. Create and use a user defined function to check whether it is odd or even?**

In [10]:
def number(n):
    if n%2 == 0:
        print(n, 'is even.')
    else:
        print(n, 'is odd.')

In [11]:
number(88772211)

88772211 is odd.

In [12]:
number(989822722)

989822722 is even.